page-usuariosubpreferencia {
	font-family: font129281;
	.text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: white;
	}
	.text-input::-moz-placeholder { /* Firefox 19+ */
	  color: white;
	}
	.text-input:-ms-input-placeholder { /* IE 10+ */
	  color: white;
	}
	.text-input:-moz-placeholder { /* Firefox 18- */
	  color: white;
	}

	.contenido{
		.scroll-content{
			padding: 16px 0 !important ;
		}

		h2{
			font-size:25px ;
			padding: 15px 0;
		}


	}


	.header{
		h1{
			color:white;
		}
		.toolbar-background-md{
			background: none;
		}
	}

	.lista{
		.item-md{
			background: rgba(255,255,255,0.5);
		}
		.item{
			.label{
				color: #0066c3;

			}
		}

	}



}
