<ion-header>
  <ion-navbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
   <div *ngIf="ifReintentar" padding>
         <ion-fab center middle>
            <button ion-fab color="color_indigo_500" (click)="getRecargar();"><ion-icon name="refresh"></ion-icon></button>
         </ion-fab>
  </div>

  <ion-card *ngFor="let np of _lista_noticias_promocion">
    <!--<img src="img/nin-live.png"/>-->
    <ion-card-content>
      <ion-card-title>
        {{np.not_titulo}}
        </ion-card-title>
      <p>
       {{np.not_descripcion}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--
{"not_id":"2","not_titulo":"Viaje a Galapagos ","not_descripcion":"si acumulas 2000 puntos participas en un viaje a Galapagos por un fin de semana todo pagado ","not_sinopsis":"Mientras más codigos guardes mas puntos tendrás","not_estado":"1","not_is_noticia":"1","not_qr":"dfsrefsdfdfd","not_img":null,"not_like":"0","establecimiento_est_id":"2","subpreferencias_sub_id":"3","not_creado_en":"2017-04-06 20:32:26","not_actualizado_en":"2017-04-06 21:27:52","not_adicional_1":null,"not_adicional_2":null,"est_descricion":"Sede Centro Sur","insignia_ins_id":"2"}
-->